@using Yummy.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 part">
                    <h2>Enjoy Your Healthy Delicious Food</h2>
                    <p>
                        Sed autem laudantium dolores. Voluptatem itaque ea consequatur
                        eveniet. Eum quas beatae cumque eum quaerat.
                    </p>
                    <div class="tableandvideo">
                        <button class="btn btn-danger my-2 my-sm-0 btn-nav"
                                type="submit">
                            Book a table
                        </button>
                        <div class="video">
                            <i class="fa-regular fa-circle-play"></i><span> Watch Video</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 part main-img">
                    <img src="~/assets/images/hero-img.png" alt="food" />
                </div>
            </div>
        </div>
    </section>
    <section id="menu">
        <div class="container">
            <div class="details">
                <p class="center">OUR MENU</p>
                <h2>Check Our <span class="red">Yummy Menu</span></h2>
                <p class="center">MENU</p>
                <h2 class="starters">Starters</h2>
            </div>

            <div class="row">
                <div class="card-deck cards">
                    @foreach (var food in Model.Menu)
                    {
                        <div class="col-lg-4 col-md-12">
                            <div class="card mycard">
                                <img class="card-img-top" src="~/assets/images/@food.Url" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@food.Title</h5>
                                    <p class="card-text gray">@food.Description</p>
                                    <p class="card-text red">$@food.Price</p>
                                </div>
                            </div>
                        </div>
                    }

                    @*<div class="col-lg-4 col-md-12">
                        <div class="card mycard">
                            <img class="card-img-top" src="~/assets/images/menu-item-2 (1).png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aut Luia</h5>
                                <p class="card-text gray">Lorem, deren, trataro, filede, nerada</p>
                                <p class="card-text red">$14.95</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mycard">
                            <img class="card-img-top" src="~/assets/images/menu-item-3.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Est Eligendi</h5>
                                <p class="card-text gray">Lorem, deren, trataro, filede, nerada</p>
                                <p class="card-text red">$8.95</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mycard">
                            <img class="card-img-top" src="~/assets/images/menu-item-4.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Eos Luibusdam</h5>
                                <p class="card-text gray">Lorem, deren, trataro, filede, nerada</p>
                                <p class="card-text red">$12.95</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mycard">
                            <img class="card-img-top" src="~/assets/images/menu-item-5.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Eos Luibusdam</h5>
                                <p class="card-text gray">Lorem, deren, trataro, filede, nerada</p>
                                <p class="card-text red">$12.95</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card mycard">
                            <img class="card-img-top" src="~/assets/images/menu-item-6.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Laboriosam Direva</h5>
                                <p class="card-text gray">Lorem, deren, trataro, filede, nerada</p>
                                <p class="card-text red">$9.95</p>
                            </div>
                        </div>
                    </div>*@
                </div>

            </div>
        </div>
    </section>
</main>
